html, body {margin: 0; height: 100%; overflow: hidden}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#map {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%; 
}
.sidebar{
position: fixed;
z-index: 6;
right: -300px;
width: 300px;
height: 100%;
background: rgb(236, 236, 236);
transition: all 0.3s ease;
}
.sidebar header{
    font-size: 22px;
    color: black;
    text-align: center;
    line-height: 70px;
    user-select: none;
    background-color: #8795ab;
}
.sidebar ul a, #mygtukas{
    
    display:  block;
    height: auto;
    width: auto;
    line-height: 65px;
    font-size: 18px;
    color: black;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.sidebar #mygtukas:before{
  font-family: FontAwesome;
    content: "\f5a0";
    left: 12;
    padding-right: 10px;
}
.sidebar #profilis:before{
  font-family: FontAwesome;
    content: "\f007";
    left: 12;
    padding-right: 10px;
}
.sidebar #vietoves:before{
  font-family: FontAwesome;
    content: "\f02e";
    left: 12;
    padding-right: 10px;
}
.sidebar #issukiai:before{
  font-family: FontAwesome;
    content: "\f128";
    left: 12;
    padding-right: 10px;
}
.sidebar #atsijungti:before{
  font-family: FontAwesome;
    content: "\f2f5";
    left: 12;
    padding-right: 10px;
}
ul li:hover a, #mygtukas:hover{
    padding-left: 50px;
    cursor: pointer;
}
#check{
    display: none;
}
label #menu,label #close{
        position: absolute;
        cursor: pointer;
        
    }
label #menu{
    z-index: 5;
    right: 20px;
    top: 15px;
    font-size: 25px;
    color: black;
    background:rgb(236, 236, 236);
    padding: 6px 10px;
    border-radius: 3px;
}
label #close{
    z-index: 9;
    right: -40px;
    top: 20px;
    font-size: 30px;
    color: black;
    transition: all 0.3s ease;
}
#check:checked ~ .sidebar{
    right: 0;
}
#check:checked ~ label #menu{
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #close{
    right: 250;
}

.infobar{
position: fixed;
z-index: 6;
left: -400px;
width: 400px;
height: 100%;
background: rgb(236, 236, 236);
transition: all 0.3s ease;
overflow-y: auto;
}
.infobar header{
    font-size: 22px;
    color: black;
    text-align: center;
    line-height: 70px;
    background:rgb(236, 236, 236);
    user-select: none;
}

.infobar #name{
  
  background-color:#8795ab;
  text-align: center;
}

.rating{
  float: right;
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
}



.rate {
  float: right;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}



.infobar #catbox{
  line-height: 46px;
  padding-left: 15px;
}

.infobar #category{
line-height: 46px;

padding: 2px 5px;
border-radius: 10px;
font-size: 18px;
;
}

.infobar #info{
  text-indent: 25px;
  }



#check2{
    display: none;
}
label #close2{
        position: absolute;
        cursor: pointer;

    }
label #close2{
    /*background-color: white;*/
    z-index: 9;
    left: -40px;
    top: 20px;
    font-size: 30px;
    color: black;
    transition: all 0.3s ease;
    background:rgb(236, 236, 236);
    padding: 1px 5px;
    border-radius: 3px;
    opacity: 75%;
}
#check2:checked ~ .infobar{
    left: 0;
}
#check2:checked ~ label #menu2{
    opacity: 0;
    pointer-events: none;
}
#check2:checked ~ label #close2{
    left: 345;
}
.infobar img{
    width: 100%;
    height: auto;
}
.modal {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    font-family: Verdana;
  }
  .modal-header {
    padding: 10px 16px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  .modal-body {padding: 10px 10px;}
  .modal-content {
    position: relative;
    background-color: #ffffff;
    margin: 10% auto;
    padding: 0;
    border: 1px solid #888;
    width: 28%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);  
    border-radius: 8px;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  .modal h2, h3 {
    font-weight: normal;
    position: relative;
    padding-left: 40px;
  }
  .modal input{
    font-family:Verdana;
    width:200px;
    height:28px;
    border: none;
    border-bottom: 2px solid gray;
    text-indent: 2px;
  }
  .modal input[type=submit]{
    border: 2px solid #4d5a6e;
    background-color: #8795ab;
  }
  .modal textarea{
    font-family: Verdana;
    width: 400px;
    height: 100px;
    border: none;
    border-bottom: 2px solid gray;
    padding-left: 2px;
    resize: none;
    padding-top: 2px;
  }

  .modal h3:before{
    font-family: FontAwesome;
    content: "\f5a0";
    position: absolute;
    left: 0;
  }
  #photos:before{
    font-family: FontAwesome;
    content: "\f030";
    position: absolute;
    left: 0;
  }
  #photos{
    font-weight: normal;
    position: relative;
    padding-left: 40px;
    font-size: large;
  }
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .spaust {
    margin: 10px 10px;
  }
  .spaust:hover,
  .spaust:focus,
  #photos:hover,
  #photos:focus {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  .spaustbg {
    background-color: #8795ab;
    padding: 2px;
  }
  #submitas {
    height: 25px;
    width: 100px;
    border-radius: 5px;
  }
  #submitas:hover {
    cursor:pointer;
    font-weight: bold;
    border-color: black;
  }